In [6]:
# Initialize a counter
counter = 0

# Loop example - increment the counter in each iteration
for _ in range(5):
    print(_)
    print(f"Counter value: {counter}")
    # Increment the counter
    counter += 2

print("Final counter value:", counter)

0
Counter value: 0
1
Counter value: 2
2
Counter value: 4
3
Counter value: 6
4
Counter value: 8
Final counter value: 10

In [31]:
# Second Example

In [48]:
class Book:
    def __init__(self, book_id, title):
        self.id = book_id
        self.title = title

# Example usage
book_id_to_find = 42

# Create a list of books
books = [
    Book(1, "Book One"),
    Book(22, "Book Twenty-Two"),
    Book(42, "Book Forty-Two"),
    Book(100, "Book One Hundred"),
]

In [33]:
books

[<__main__.Book at 0x23236512ac0>,
 <__main__.Book at 0x23236512640>,
 <__main__.Book at 0x232365129d0>,
 <__main__.Book at 0x232366d8b80>]

In [34]:
# Check if any book has the desired book_id
found_book = None
for book in books:
    print(book.id)
    print(book.title)

1
Book One
22
Book Twenty-Two
42
Book Forty-Two
100
Book One Hundred

In [42]:
# Check if any book has the desired book_id
found_book = None
for book in books:
    if book.id == book_id_to_find:
        found_book = book
        break

# Print the result
if found_book:
    print(f"Book found with id {book_id_to_find}: {found_book.title}")
else:
    print(f"No book found with id {book_id_to_find}")

Book found with id 42: Book Forty-Two

In [43]:
class Book:
    def __init__(self, book_id, title):
        self.id = book_id
        self.title = title

# Sample list of books
BOOKS = [
    Book(1, "Book One"),
    Book(2, "Book Two"),
    Book(3, "Book Three"),
]

In [44]:
for _ in BOOKS:
    print(_)
    print(_.id)

<__main__.Book object at 0x00000232365C5430>
1
<__main__.Book object at 0x00000232365C5CD0>
2
<__main__.Book object at 0x000002323669F2B0>
3

In [45]:
# let`s suppose that book_id = 2`

new_book = "Updated Book Two"
book_id = 2
counter = 0
for x in BOOKS:
    counter += 1
    print("values",counter)
    if x.id == book_id:
        print(x.id)
        print(x.title)
        BOOKS[counter - 1] = new_book
        print(BOOKS[counter - 1])

values 1
values 2
2
Book Two
Updated Book Two
values 3

In [ ]:
for book in BOOKS:
    print(f"Book ID: {book.id}, Title: {book.title}")

In [ ]:

def update_book(book_id, new_book):
    counter = 0
    for x in BOOKS:
        counter += 1
        if x.id == book_id:
            BOOKS[counter - 1] = new_book
            return BOOKS[counter - 1]

# Example usage
book_id_to_update = 2
new_book_data = Book(2, "Updated Book Two")

updated_book = update_book(book_id_to_update, new_book_data)

# Print the updated book list
for book in BOOKS:
    print(f"Book ID: {book.id}, Title: {book.title}")

In [50]:
class Book:
    def __init__(self, book_id, title):
        self.id = book_id
        self.title = title

# Sample list of books
BOOKS = [
    Book(1, "Book One"),
    Book(2, "Book Two"),
    Book(3, "Book Three"),
]

def update_book(book_id, new_book):
    counter = 0
    for x in BOOKS:
        counter += 1
        if x.id == book_id:
            BOOKS[counter - 1] = new_book
            return BOOKS[counter - 1]

# Example usage
book_id_to_update = 2
new_book_data = Book(2, "Updated Book Two")

updated_book = update_book(book_id_to_update, new_book_data)

# Print the updated book list
for book in BOOKS:
    print(f"Book ID: {book.id}, Title: {book.title}")

Book ID: 1, Title: Book One
Book ID: 2, Title: Updated Book Two
Book ID: 3, Title: Book Three